<p>A BRAIN possui soluções do tipo “Tailor Made”, ou seja, para cada caso e cliente, produtos customizados para suas respectivas necessidades.</p>
<p>Esta flexibilidade de possuir um vasto conhecimento em diversas matérias faz com que a empresa Cliente seja vista de maneira global e corporativa, sem seccionamentos que possam dissipar pontos de intersecção entre as diversas áreas.</p>
<p>A BRAIN ganha sinergia para seus Clientes, prevenção e proteção, com qualidade e o devido sigilo.</p>
<p>Os diversos Produtos podem ser divididos por matéria, sendo que todos possuem recomendações finais e possível acompanhamento de implementação:</p>

<ul>
  <li *ngFor="let categoria of produtos">
    <a>{{categoria.key}}</a>
    <ul>
      <li *ngFor="let produto of categoria.value">{{produto}}</li>
    </ul>
  </li>
</ul>