@import '../../../assets/variables';

.carousel {
  margin: 0 auto;
    position: relative;
    // width: 100%;
    text-align: center;
    ul {
      padding-left: 0;
      list-style: none;
    }
}

.products-text {
  text-indent: 35px;
}

.accordion-header {
  background-color: $blue-b;
  color: $blue-d;
}

.mat-expanded:hover {
  background-color: $blue-c !important;
}

.mat-expansion-panel-body {
  background-color: #FEFEFE !important;
}