.carousel {
  margin: 0 auto;
    position: relative;
    // width: 100%;
    text-align: center;
    ul {
      padding-left: 0;
      list-style: none;
    }
}

.products-text {
  text-indent: 35px;
}