.home_body {
  position: absolute;
  top: 60px;
  left: 0px;
  height: calc(100% - 60px);
  width: 100%;
  background-image: url(../../../assets/img/bg_desktop.jpeg);
  background-position: center;
  &.mobile {
    background-image: url(../../../assets/img/bg_mobile.jpeg) !important;
    background-position: center;
  }
}